.starIcon-5{
    width: 16px;
    height: 16px;
    color: rgb(255, 191, 0);
}
.starIcon-4{
    width: 16px;
    height: 16px;
    color: rgb(255, 191, 0);
}
.starIcon-4-count{
    width: 16px;
    height: 16px;
    color: rgb(240, 227, 188);
}
.starIcon-3{
    width: 16px;
    height: 16px;
    color: rgb(255, 191, 0);
}
.starIcon-3-count{
    width: 16px;
    height: 16px;
    color: rgb(240, 227, 188);
}
.starIcon-2{
    width: 16px;
    height: 16px;
    color: rgb(255, 191, 0);
}
.starIcon-2-count{
    width: 16px;
    height: 16px;
    color: rgb(240, 227, 188);
}
.starIcon-1{
    width: 16px;
    height: 16px;
    color: rgb(255, 191, 0);
}
.starIcon-1-count{
    width: 16px;
    height: 16px;
    color: rgb(240, 227, 188);
}
.toast-position {
    top: 1rem !important;
  }
.review-img img{
  border-radius: 50px;
  width:50px;
  height: 50px;
}
.review-comment{
    margin-left: 60px;
    margin-top:-5px;
}
.review-comment p{
    white-space: pre-line !important; 
    width: 100%!important;
 }
