.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: white !important;
}
.order-status{
    color: #065644;
    font-weight: 900;
    font-size: 14px;
}
.order-image img{
    width: 60px;
    height: 60px;
}
.pagination button{
    margin-right: 5px;
    border-radius: 5px;
}
.page-selected{
    background-color: red;
    color:white;
}