.navbar-border {
  border-top: 0.4px solid rgb(202, 202, 202);
}
.navbar-brand {
  font-size: 16px !important;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 !important;
}
.second-navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.subject-link {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  cursor: pointer;
}
.subject-link:hover {
  text-decoration: none;
}
.subject-link2 {
  margin-left: 20px !important;
}
.other-nav {
  font-size: 15px !important;
}

.dropdown-menu {
  margin-top: 14px !important;
  z-index: 999 !important;
  animation: slideDown 800ms ease-in-out;
}
.dropdown-menu .drop-list {
  position: absolute;
  top: 0;
  left: -125px;

  background-color: white;
  border: 1px solid black;
}

.dropdown-menu .drop-list-1 {
  position: absolute;
  top: 0;
  left: -55px;
  background-color: white;
  border: 1px solid black;
}
.dropdown-menu .drop-list-3 {
  position: absolute;
  top: 0;
  left: -187px;

  background-color: white;
  border: 1px solid black;
}
.dropdown-menu .drop-list a {
  font-size: 15px;
}
.dropdown-menu .drop-list-3 a {
  font-size: 15px;
}
.dropdown-menu .drop-list-1 a {
  font-size: 15px;
}

.dropdown-menu ul {
  padding: 0 !important;
  margin-left: 25px;
  font-size: 13px !important;
}
.dropdown-menu ul li {
  list-style: disc !important;
}
.dropdown-menu ul li a {
  list-style: disc !important;

  width: 198px;
  white-space: pre-line;
}
.dropdown-menu ul li a:hover {
  text-decoration: none;
  background-color: white;
  color: red;
}

.dropdown-menu ul .book-fair {
  width: 208px;
  font-size: 15px;
}

.dropdown-menu ul .book-fair:hover {
  text-decoration: none;
  background-color: white;
  color: red !important;
  cursor: pointer;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/* dropdown animation */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
