.logo{
    width: 200px;
    height: auto;
}
.sing-Out{
cursor: pointer;
}
.first-navbar{
    background-color: #12856a;
}
.search-field{
    width:94%;
    height: 45px;
}
.search-button{
    background-color: #065644 !important;
    outline: none !important;
    border: none !important;
}