.main-Navbar {
  position: relative !important;
}

.navbar-brand {
  font-size: 16px !important;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 !important;
}
.second-navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.subject-link {
  text-decoration: none;
  cursor: pointer;
  /* padding: 8px 8px; */
}

.subject-link2 {
  margin-right: 10px !important;
}
.other-nav {
  font-size: 15px !important;
}

.nav-item a {
  border: 0.1px solid rgb(189, 189, 189);
  padding: 5px 8px;
  cursor: pointer;
}
.nav-item li a {
  color: black;
  cursor: pointer;
}

.nav-item a:hover {
  color: white !important;
  background-color: #f29434;
}

.nav-item a:not(:last-child) {
  border-right: none !important;
}
@media all and (min-width: 992px) {
  /* .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  } */
}
/* dropdown animation */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
