.slick-slider  {
position: relative !important;

}
.slick-slider .slick-arrow {
  background-color: transparent !important;

}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 24px;
  line-height: 1;

  opacity: 1;
  color: rgb(255, 8, 8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next{
  top: -45px;
  right: -5px;
}
.slick-prev{
  top: -45px;
  left: 1045px;
}
.card-area .slick-slide {
  padding: 10px; 
  box-sizing: border-box; 
}
.card-area {
  font-family: "Atma", cursive;
  font-size: 1.2rem;
}
h4 {
  font-size: 1.2rem !important;
}
.my-button {
  font-size: 1rem !important;
  cursor: pointer;
}



/* @media screen and (max-width: 600px) {
  .card-splide-slider .splide__arrow--prev {
    left: 210px;
    top: 410px !important;
    display: none !important;
  }

  .card-splide-slider .splide__arrow--next {
    right: 200px !important;
    top: 410px !important;
    display: none !important;
  }
} */