.owl-carousel .owl-item {
  padding-bottom: 10px !important;
}

.owl-prev {
  left: 0px;
  top: 50%;
  transform: translateY(-480px) translateX(540px);
}

.owl-next {
  right: 0px;
  top: 50%;
  transform: translateY(-480px) translateX(533px);
}

.owl-prev,
.owl-next {
  background-color: #f29434 !important;

  color: #ffffff !important; /* Set text color */
  font-size: 25px !important; /* Adjust font size as needed */
  width: 20px !important;
  /* Adjust padding as needed */
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #f1ae6b !important; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.card-area .slick-slide {
  padding: 10px;
  box-sizing: border-box;
}
.card-area {
  
  font-size: 1rem;
}

h4 {
  font-size: 1.2rem !important;
}
.my-button {
  font-size: 1rem !important;
  cursor: pointer;
}

@media (max-width: 576px) {
  .custom-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  /* .cart-total-part{
    flex-direction: column !important;
  } */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .custom-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
