/* .cart-item-page{
    margin-top: 130px;
} */


.my-card{
  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  gap: 20px;
  z-index: 0 !important;
}

img{
  height: 200px;
}
.details{
  width: 100%;
}

@media only screen and (max-width:767px){

  .my-card{
    grid-template-columns:  1fr 1fr;
      gap: 60px;
  }   

  img{
      height: 150px;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .my-card{
      grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    img{
      height: 250px;
  }     
}
  
.all-cart{
  box-shadow: 6px 8px 6px 6px #ebebeb;
}
.cart-page{
    margin-right: 0 !important;
    
  }
.cart-item{
    background-color: #fff;
    margin-left: 0 !important;
    box-shadow: 6px 8px 6px 6px #ebebeb;
}
.cart-image img{
height: 120px;
}
.cart-input{
    width: 25%;
    height: 28px;
    padding: 5px;
    border: none;
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
}

.cart-minus-icon{
    width: 30px;
    height: 28px;
    cursor: pointer;
    padding: 5px;
    background-color: #ff9900;
    margin-bottom: 3px;
    color: white;
    
  }
.cart-plus-icon{
    width: 30px;
    cursor: pointer;
    padding: 5px;
    background-color: #ff9900;
    height: 28px;
    margin-bottom: 3px;
    color: white;
    
  }
.cart-trash-icon{
    width: 22px;
    cursor: pointer;
    
   
  }
.cart-trash-icon:hover{
   color: red;
   
  }
  .cart-input-part{
    width: 50%;
  }


  .cart-total-part{
  position:sticky;
  top: 130px;
  right:115px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 6px 8px 6px 6px #ebebeb;
  }
  .cart-total-part div{
 border-bottom: 1px solid rgb(231, 229, 229);
 
  }
  .cart-total-part p{
   font-size: 1.1rem;
   font-weight: 500;
  }
  .checkout-title{
   
    color:#ff9900;
   
    
  }
  .checkout-button{
    background-color: #ff9900;
 
  }
  .checkout-button:hover{
    background-color: #ffa41c;
  }
  .checkout-button button{
    text-transform: uppercase;
   font-size: 1.2rem;
   font-weight: 500;
   border: none;
  }
  .checkout-button a{
   text-decoration: none;
  }
  .stock-out{
    position: absolute;
    top: 260px;
    left: 55px;
    color: rgb(246, 53, 19);
    /* background-color: rgb(254 226 226); */
    padding: 2px 5px;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 5px;
  }
  .stock-in-out{
    position: absolute;
    top: 435px;
    left: 530px;
    color: red;
    background-color: rgb(254 226 226);
    padding: 2px 5px;
    margin: 2px;
    font-weight: 600;
    border-radius: 5px;
  }
  .discount{
    position: absolute;
    top: 0;
    left: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
  }
  .available-quantity{
    margin-left: 10px;
  }