.single-card {
  cursor: pointer;
  position: relative;
  z-index: 0 !important;

  /* border: 0.1px solid var(--Green, #13856B); */
}
.my-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.card-area {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.book-inner img {
  width: 180px !important;
  height: 230px !important;
}
.book-body {
  /* text-align: center; */
  font-family: "Tiro Bangla", serif !important;
}
.book-body h6 {
  font-size: 15px !important;
}
.book-body .writer-name {
  font-family: "Tiro Bangla", serif !important;
  font-size: 14px !important;
  line-height: 1.5;
}
.tk-part {
  line-height: 0;
  position: absolute;
  bottom: 20px;
}
.pre-tk {
  color: rgb(174, 174, 174);
  font-weight: 600;
  font-size: 0.9rem;
}
.now-tk {
  color: #373737;
  font-weight: 600;
  font-size: 1rem;
}

.my-button {
  display: block;
  margin: 20px;
  text-decoration: none;
}
.my-button:hover {
  text-decoration: none;
  color: red !important;
}
.margin_addtoButton {
  margin: 0 6px !important;
  margin-top: -180px !important;
}
.add-to-btn {
  background-color: #f29434;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: 500;
  /* position: absolute; */
  /* top: 150px; */

  font-size: 1rem;
  visibility: hidden;
  text-transform: uppercase;
  font-family: "Tiro Bangla", serif !important;
}
.add-to-btn2 {
  background-color: #f29434;
  width: 180px;
  outline: none;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: 500;
  position: absolute;
  top: 150px;
  margin-left: 9px;
  visibility: hidden;
  text-transform: uppercase;
  font-family: "Tiro Bangla", serif !important;
}
.add-to-btn3 {
  background-color: #f29434;
  width: 180px;
  outline: none;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: 500;
  position: absolute;
  top: 150px;
  margin-left: 0px;
  visibility: hidden;
  text-transform: uppercase;
  font-family: "Tiro Bangla", serif !important;
}
.add-to-btn a {
  color: white;
  text-decoration: none;
}
.add-to-btn2 a {
  color: white;
  text-decoration: none;
}
.add-to-btn3 a {
  color: white;
  text-decoration: none;
}
.add-to-btn a:hover {
  color: white;
}
.add-to-btn2 a:hover {
  color: white;
}
.add-to-btn3 a:hover {
  color: white;
}
.details-button {
  background-color: #f29434;
  width: 100%;
  outline: none;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: 500;
  visibility: hidden;
  font-size: 1rem;
}

.single-card:hover {
  box-shadow: 0px 5px 5px 0px #888888;

}





.single-card:hover .add-to-btn {
  visibility: visible;
  /* top: 160px; */
}
.single-card:hover .add-to-btn2 {
  visibility: visible;
  /* top: 160px; */
}
.single-card:hover .add-to-btn3 {
  visibility: visible;
  /* top: 160px; */
}
.single-card:hover .details-button {
  visibility: visible;
}
.book-inner {
  padding: 10px;
}
.book-body .book-title {
  font-family: "Tiro Bangla", serif !important;
  width: 150px;
  font-size: 1rem !important;
}
/* .book-inner:hover {
  box-shadow: 3px 8px 8px 3px #f5f2f2;
} */

.details-button a {
  color: white;
}
.details-button a:hover {
  color: white;
}
.details-button:hover {
  background-color: #f29639ec;
  width: 100%;

  color: rgb(255, 255, 255);
}
.add-to-btn:hover {
  background-color: #f29639ec;
  outline: none;
  color: rgb(255, 255, 255);
}
.add-to-btn2:hover {
  background-color: #f29639ec;
  outline: none;
  color: rgb(255, 255, 255);
}
.add-to-btn3:hover {
  background-color: #f29639ec;
  outline: none;
  color: rgb(255, 255, 255);
}

/* animation */
@keyframes slide {
  0% {
    margin-top: 0px !important;
  }
  50% {
    margin-top: -120px !important;
  }
  100% {
    margin-top: -180px !important;
  }
}

.single-card:hover .margin_addtoButton {
  animation: slide 0.5s linear;
}
.single-card:hover .add-to-btn2 {
  animation: slide 0.5s linear;
}
.single-card:hover .add-to-btn3 {
  animation: slide 0.5s linear;
}
img {
  height: 200px;
}
.details {
  width: 100%;
}

@media screen and (max-width: 320px) {
  /* CSS rules or styles for small screens */
  .my-card {
    grid-template-columns: 1fr;
  }
  .add-to-btn {
    margin-left: 35px !important;
  }
  img {
    height: 150px;
  }
}

/* Styles for screens with a width between 321px and 768px */
@media screen and (min-width: 321px) and (max-width: 375px) {
  /* CSS rules or styles for medium screens */

  .add-to-btn {
    margin-left: 60px !important;
  }
  img {
    height: 150px;
  }
}
@media screen and (min-width: 376px) and (max-width: 480px) {
  /* CSS rules or styles for medium screens */

  .add-to-btn {
    margin-left: 85px !important;
  }
  img {
    height: 150px;
  }
}

/* Styles for screens with a width greater than 768px */
@media screen and (min-width: 768px) {
  /* CSS rules or styles for large screens */

  .add-to-btn {
    margin-left: 17px !important;
  }
  img {
    height: 150px;
  }
}

@media only screen and (min-width: 992px) {
  .add-to-btn {
    margin-left: 0px !important;
  }
  img {
    height: 150px;
  }
}

.all-cart {
  box-shadow: 6px 8px 6px 6px #ebebeb;
}
.cart-page {
  margin-right: 0 !important;
}
.cart-item {
  border: 1px solid #065644;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5px !important;
  margin-left: 0 !important;
  box-shadow: 6px 8px 6px 6px #ebebeb;
}
.cart-image img {
  height: 120px;
}
.cart-input {
  width: 25%;
  height: 32px;
  /* padding: 5px; */
  border: none;
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
}

.cart-minus-icon {
  width: 40px;
  height: 32px;
  cursor: pointer;
  padding: 5px;
  background-color: #065644;
  margin-bottom: 3px;
  color: white;
}
.cart-plus-icon {
  width: 40px;
  height: 32px !important;
  cursor: pointer;
  padding: 5px;
  background-color: #065644;
  height: 28px;
  margin-bottom: 3px;
  color: white;
}
.cart-trash-icon {
  width: 22px;
  cursor: pointer;
}
.cart-trash-icon:hover {
  color: red;
}
.cart-input-part {
  width: 50%;
}

.cart-total-part {
  position: sticky;
  top: 130px;
  padding: 60px 0px;
  height: 100vh;
  border-top: 4.5px solid #065644;
  border-left: 4.5px solid #065644;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 3px 3px 1px 1px #065644;
}
.cart-total-part div {
  border-bottom: 1px solid rgb(231, 229, 229);
}
.cart-total-part p {
  font-size: 1.1rem;
  font-weight: 500;
}
.checkout-title {
  color: #ff9900;
}
.checkout-button {
  background-color: #065644;
}
.checkout-button:hover {
  background-color: #065620;
}
.checkout-button button {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
}
.checkout-button a {
  text-decoration: none !important;
}
.stock-out {
  position: absolute;
  top: 260px;
  left: 55px;
  color: rgb(246, 53, 19);
  /* background-color: rgb(254 226 226); */
  padding: 2px 5px;
  margin-top: 5px;
  font-weight: 600;
  border-radius: 5px;
}
.stock-in-out {
  position: absolute;
  top: 435px;
  left: 530px;
  color: red;
  background-color: rgb(254 226 226);
  padding: 2px 5px;
  margin: 2px;
  font-weight: 600;
  border-radius: 5px;
}
.discount {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
}
.available-quantity {
  margin-left: 10px;
}
